<header id="header">
	<nav>
		<div class="container">
			<div class="text-center">
				<a href="/" class="nav-brand text-dark text-gradient-cream mx-2">Home</a>
				<a href="/mahasiswa" class="nav-brand text-dark text-gradient-cream mx-2">Mahasiswa</a>
				<a href="/jurusan" class="nav-brand text-dark text-gradient-cream mx-2">Jurusan</a>
				<a href="/fakultas" class="nav-brand text-dark text-gradient-cream mx-2">Fakultas</a>
			</div>
		</div>
	</nav>
</header>
