@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap");

:root {
	--dark: #2b2d42;
	--light: #adb5bd;
	--border: #dee2e6;
	--border-btn: #edf2f4;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
}

.container {
	max-width: 1024px;
	margin: auto;
}

.nav-brand {
	font-size: 1.2em;
	font-weight: bold;
}
.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.d-flex-2 {
	display: flex;
}

.object-container {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.text-end {
	text-align: end;
}

.justify-between {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.w-100 {
	width: 100% !important;
}

.w-90 {
	width: 90% !important;
}

.border-shadow {
	border: 1px solid var(--border-btn);
	box-shadow: 1px 3px 10px #e9ecef;
}

.border-shadow-sky {
	border: 1px solid #6ff3e8;
	box-shadow: 1px 3px 10px #ebebeb;
}

.text-dark {
	color: var(--dark);
}

.inline {
	display: inline-block;
}

.text-light {
	color: var(--light);
}

.mx-2 {
	margin: 0 20px;
}

.text-gradient-cream {
	background: #efefbb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #d4d3dd, #efefbb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-blue {
	background: linear-gradient(to right, #2da0e2, #209df0);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#header nav {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(98, 98, 224, 1) 0%, rgba(0, 212, 255, 1) 100%);
	padding: 1em 0;
	width: 100%;
}

#header nav .nav-brand:hover {
	background: rgb(248, 106, 11);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#site-main {
	margin-top: 6em;
	font-family: "Barlow", sans-serif;
}

#site-main .container .box-nav > a {
	font-size: 1em;
	padding: 0.5em 1em;
	background: rgb(255, 156, 75);
}

#site-main .container form {
	margin: 2em 0;
}

table {
	border-spacing: 0px;
	width: 100%;
}

.table td,
.table th {
	padding: 0.75em;
	vertical-align: top;
	text-align: center;
	border-top: 1px solid var(--border);
}

.table td > a.btn {
	padding: 0.3em 1em;
	font-size: 1.1em;
	margin: 0.2em;
}

.table tr:hover {
	background-color: #93d7ff;
}

.table tr:hover td > a {
	box-shadow: none;
}

.table .thead-dark th {
	color: #fff;
	background-color: var(--dark);
	border-color: #32383e;
}

/* add user & update user template */

.form-title {
	margin-top: 2em;
}

.form-title > h2 {
	padding: 0.5em 0;
}

.new_user {
	max-width: 786px;
	margin: auto;
}

#update_user .form-group-2,
#tambah .form-group-2,
#update-mahasiswa .form-group-2 {
	margin: 0.4em 0;
}

#update_user .form-group-2 input[type="text"],
#tambah .form-group-2 input[type="text"],
#tambah .form-group-2 select,
#update-mahasiswa .form-group-2 input[type="text"],
#update-mahasiswa .form-group-2 select {
	width: 100%;
	padding: 0.6em 1em;
	margin: 0.5em 0;
	border: 1px solid var(--border);
	font-family: "Barlow", sans-serif;
	font-size: 1em;
	border-radius: 0.2em;
}

#tambah .form-group-2 select,
#update-mahasiswa .form-group-2 select {
	width: 49%;
}

#update_user .form-group-2 .radio,
#tambah .form-group-2 .radio,
#update-mahasiswa .form-group-2 .radio {
	margin: 1em 2em;
}

/* adding style to radio buttons */
.radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.radio input[type="radio"] + .radio-label::before {
	content: "";
	background-color: var(--border-btn);
	border-radius: 100%;
	border: 1px solid var(--border);
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top: -0em;
	margin-right: 0.5em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label::before {
	background-color: #16db93;
	box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type="radio"]:focus + .radio-label::before {
	outline: none;
	border-color: #16db93;
}

.radio input[type="radio"]:disabled + .radio-label::before {
	box-shadow: inset 0 0 0 4px #e9ecef;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

#update_user .form-group-2 .btn,
#tambah .form-group-2 .btn,
#update-mahasiswa .form-group-2 .btn {
	width: 100%;
	padding: 0.9em 1em;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(32, 245, 60) 0%, rgb(82, 252, 147) 100%);
	border: none;
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
	cursor: pointer;
	border-radius: 0.2em;
	margin: 0.5em 0;
}

#update_user .form-group-2 .btn:hover,
#tambah .form-group-2 .btn:hover,
#update-mahasiswa .form-group-2 .btn:hover {
	background-color: var(--dark);
	color: var(--border);
}

#button-gambar {
	padding: 10px;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(110, 203, 247) 0%, rgba(0, 212, 255, 1) 100%);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	cursor: pointer;
}

#button-gambar:hover {
	background-color: rgba(154, 3, 255, 0.932);
}

#text-file {
	margin-left: 10px;
	font-family: sans-serif;
	color: #aaa;
}

.width-50 {
	width: 50% !important;
}

/* login Style */
#login {
	font-family: "Open Sans", sans-serif;
	background-image: url("/assets/img/background_png.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#login .center-div {
	padding-top: 10%;
}

#login .btn.btn-success {
	padding: 0.4em 2em;
}

#login form {
	padding: 0 3em;
}

#login .title > span {
	font-size: 0.8em;
}

.invalid-feedback {
	color: red;
	display: block;
}

.capitalize {
	text-transform: capitalize;
}

.status {
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	font-size: 20px;
	background-color: #16db93;
	color: black;
	animation: status ease-in-out forwards 3s;
	width: max-content;
	padding: 10px 20px;
	border-radius: 10px;
}

.table-margin {
	margin-top: 20px;
}

@keyframes status {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}
